
.sidebar {
    -fx-background-color: linear-gradient(to bottom, #2c3e50, #34495e);
    -fx-padding: 20;
    -fx-spacing: 15;
}

.sidebar-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-padding: 0 0 10 0;
}


.sidebar-button {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3, 0, 0, 1);
}

.sidebar-button:hover {
    -fx-background-color: #bdc3c7;
}


.logout-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: #c0392b;
}



.main-content {
    -fx-background-color: #f7f9fc;
    -fx-alignment: center;
    -fx-spacing: 20;
}

.main-title {
    -fx-font-size: 28px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #2c3e50;
}

.main-subtitle {
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #34495e;
}


.main-content ImageView {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 3);
}
